### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [ ]:
4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [3]:
name = input("Name: ")
color = input("Color: ")
animal = input("Animal: ")
print(f"{name} had a little animal")
print(f"It was {color} as a snow")
print(f"And everywhere that {name} went, the {animal} was sure to go")

Name: Anna
Color: white
Animal: dog
Anna had a little animal
It was white as a snow
And everywhere that Anna went, the dog was sure to go

3. Print 3.14159 in a scientific number notation

In [4]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [6]:
print(f"{3.1559:.4}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [8]:
print(f"{1589.92341:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [9]:
print(39//2)
print(39%2)

19
1

In [10]:
print(19//2)
print(19%2)

9
1

In [11]:
print(9//2)
print(9%2)

4
1

In [13]:
print(4//2)
print(4%2)

2
0

In [18]:
print(2//2)
print(2%2)

1
0

In [15]:
print(1//2)
print(1%2)

0
1

In [17]:
110111
bin(39)

'0b100111'

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [23]:
print(39//8)
print(39%8)

4
7

In [24]:
print(4//8)
print(4%8)

0
4

In [25]:
47
oct(39)

'0o47'

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [27]:
print(39//16)
print(39%16)

2
7

In [26]:
print(2//16)
print(2%16)

0
2

In [28]:
27
hex(39)

'0x27'

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [34]:
amount = float(input("Amount: "))
tax_rate = float(input("Tax Rate: "))

Amount: 575
Tax Rate: 28

In [ ]:
tax_amount = (tax_rate / 100) * amount
total = tax_amount + amount

In [50]:
print("Amount: " + str(amount) + " Tax: " + str(tax_rate) + " Tax Amount: " + f"{tax_amount:.2f}" + " Total: " + str(total))

Amount: 575.0 Tax: 28.0 Tax Amount: 161.00 Total: 736.0